<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7K9GeFB6s7VaGYzy9XCrV6Zin1SSvHEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>135801205105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hesaWallet</string>
	<key>PROJECT_ID</key>
	<string>abc-application-1a45e</string>
	<key>STORAGE_BUCKET</key>
	<string>abc-application-1a45e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135801205105:ios:52a97e378d8a3b131486d0</string>
	<key>DATABASE_URL</key>
	<string>https://abc-application-1a45e-default-rtdb.firebaseio.com</string>
</dict>
</plist>